<div class="main-container" [class.example-is-mobile]="isMobile()">
    <mat-toolbar class="example-toolbar">
        <button matIconButton (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <h1 class="example-app-name">Responsive App</h1>
    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="isMobile() ? 56 : 0">
        <mat-sidenav #snav [mode]="isMobile() ? 'over' : 'side'" [fixedInViewport]="isMobile()" fixedTopGap="56">
            <mat-nav-list>
                @for (item of menuItems; track item) {
                <a mat-list-item [routerLink]="[item.link]">
                    <mat-icon matListItemIcon>{{item.icon}}</mat-icon>
                    <span>{{item.title}}</span>
                </a>
                }
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>

<app-loader></app-loader>